
<h1>New Article</h1>

<%= form_with model: @article, local: true do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, rows: 10, cols: 50 %>
  </div>

  <div class="actions">
    <%= f.submit "Create Article" %>
  </div>
<% end %>
